
@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using WebApplication_vali.Models;
@model List<tDanhMucSP>
@{int i = 0;
    foreach (var item in Model)
    {
        i++;
        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="@Url.Content("/image/"+item.Anh)">
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="#">@item.TenSP</a></h6>
                    <h5>@item.Gia</h5>
                </div>
            </div>
        </div>
        if(i%4 == 0)
                {
                    <div style="clear:both"></div>
                }
    }
}


